<a href="https://colab.research.google.com/github/MatheusSousa-creator/aula_javascript/blob/master/Aula1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando a biblioteca pandas
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/DadosPaisesAmericasNorteSul - DadosPaisesAmericasNorteSul.csv")

In [ ]:
#visulizando as 5 primeiras linhas

In [ ]:
df.head()

        Pais        Continente          Idioma    População   Ano
0  Argentina    América do Sul        Espanhol   45195774.0  2020
1    Bolívia    América do Sul        Espanhol   11673054.0  2020
2     Brasil    América do Sul       Português  212559426.0  2020
3     Canadá  América do Norte  Inglês/Francês   37590000.0  2020
4      Chile    América do Sul        Espanhol   19116201.0  2020

In [ ]:
df = df.rename(columns={"Pais":"Country"})

In [ ]:
df.head(10)

     Country        Continente          Idioma    População   Ano
0  Argentina    América do Sul        Espanhol   44938712.0  2019
1  Argentina    América do Sul        Espanhol   45195774.0  2020
2    Bolívia    América do Sul        Espanhol   11469896.0  2019
3    Bolívia    América do Sul        Espanhol   11673054.0  2020
4     Brasil    América do Sul       Português  210147125.0  2019
5     Brasil    América do Sul       Português  212559426.0  2020
6     Canadá  América do Norte  Inglês/Francês   37244181.0  2019
7     Canadá  América do Norte  Inglês/Francês   37577502.0  2020
8      Chile    América do Sul        Espanhol   19107216.0  2019
9      Chile    América do Sul        Espanhol   19116201.0  2020

In [ ]:
df = df.rename(columns={"Country":"Pais"})

In [ ]:
df.head(30)

              Pais        Continente          Idioma     População   Ano
0        Argentina    América do Sul        Espanhol  4.493871e+07  2019
1        Argentina    América do Sul        Espanhol  4.519577e+07  2020
2          Bolívia    América do Sul        Espanhol  1.146990e+07  2019
3          Bolívia    América do Sul        Espanhol  1.167305e+07  2020
4           Brasil    América do Sul       Português  2.101471e+08  2019
5           Brasil    América do Sul       Português  2.125594e+08  2020
6           Canadá  América do Norte  Inglês/Francês  3.724418e+07  2019
7           Canadá  América do Norte  Inglês/Francês  3.757750e+07  2020
8            Chile    América do Sul        Espanhol  1.910722e+07  2019
9            Chile    América do Sul        Espanhol  1.911620e+07  2020
10        Colômbia    América do Sul        Espanhol  4.573300e+07  2019
11        Colômbia    América do Sul        Espanhol  5.088289e+07  2020
12         Equador    América do Sul        Espanhol  1.720120e+07  2019
13         Equador    América do Sul        Espanhol  1.764305e+07  2020
14  Estados Unidos  América do Norte          Inglês  3.282000e+08  2019
15  Estados Unidos  América do Norte          Inglês  3.314493e+08  2020
16          Guiana    América do Sul          Inglês  7.865080e+05  2019
17          Guiana    América do Sul          Inglês  7.865520e+02  2020
18          México  América do Norte        Espanhol  1.260000e+08  2019
19          México  América do Norte        Espanhol  1.276000e+08  2020
20        Paraguai    América do Sul        Espanhol  7.152703e+06  2019
21        Paraguai    América do Sul        Espanhol  7.132538e+06  2020
22            Peru    América do Sul        Espanhol  3.249551e+07  2019
23            Peru    América do Sul        Espanhol  3.305032e+07  2020
24        Suriname    América do Sul        Holandês  5.730850e+05  2019
25        Suriname    América do Sul        Holandês  5.885520e+02  2020
26         Uruguai    América do Sul        Espanhol  3.528867e+06  2019
27         Uruguai    América do Sul        Espanhol  3.473730e+06  2020
28       Venezuela    América do Sul        Espanhol  3.221952e+07  2019
29       Venezuela    América do Sul        Espanhol  2.843594e+07  2020

In [ ]:
df.shape

(30, 5)

In [ ]:
df.columns

Index(['Pais', 'Continente', 'Idioma', 'População', 'Ano'], dtype='object')

In [ ]:
df.dtypes

Pais           object
Continente     object
Idioma         object
População     float64
Ano             int64
dtype: object

In [ ]:
df.tail()

         Pais      Continente    Idioma     População   Ano
25   Suriname  América do Sul  Holandês  5.885520e+02  2020
26    Uruguai  América do Sul  Espanhol  3.528867e+06  2019
27    Uruguai  América do Sul  Espanhol  3.473730e+06  2020
28  Venezuela  América do Sul  Espanhol  3.221952e+07  2019
29  Venezuela  América do Sul  Espanhol  2.843594e+07  2020

In [ ]:
df.describe()

          População          Ano
count  3.000000e+01    30.000000
mean   6.141962e+07  2019.500000
std    9.157129e+07     0.508548
min    5.885520e+02  2019.000000
25%    8.232001e+06  2019.000000
50%    3.032773e+07  2019.500000
75%    4.559869e+07  2020.000000
max    3.314493e+08  2020.000000

In [ ]:
df["Continente"].unique()

array(['América do Sul', 'América do Norte'], dtype=object)

In [ ]:
America_do_Norte = df.loc[df["Continente"] == "América do Norte"]
America_do_Norte.head()

              Pais        Continente          Idioma    População   Ano
6           Canadá  América do Norte  Inglês/Francês   37,244,181  2019
7           Canadá  América do Norte  Inglês/Francês   37,577,502  2020
14  Estados Unidos  América do Norte          Inglês  328,200,000  2019
15  Estados Unidos  América do Norte          Inglês  331,449,281  2020
18          México  América do Norte        Espanhol  126,000,000  2019

In [ ]:
America_do_Norte["Continente"].unique()

array(['América do Norte'], dtype=object)

In [ ]:
df.groupby("Continente")["Pais"].nunique()

Continente
América do Norte     3
América do Sul      12
Name: Pais, dtype: int64

In [ ]:
df.groupby("Ano")["População"].mean()

Ano
2020    6.150362e+07
Name: População, dtype: float64

In [ ]:
df["População"].mean()

61503620.54026667

In [ ]:
df["População"].sum()

922554308.1040001